(
    schema_version: 4,
    gameplay_profiles: [
        (
            id: MapGameplayProfileId(1),
            player_collision: Pass,
            projectile_collision: Pass,
            collider_shape: None,
            destruction: Indestructible,
            interaction: None,
            concealment: None,
        ),
        (
            id: MapGameplayProfileId(2),
            player_collision: Block,
            projectile_collision: BlockAndConsume,
            collider_shape: FootprintRectangle,
            destruction: Indestructible,
            interaction: None,
            concealment: None,
        ),
        (
            id: MapGameplayProfileId(3),
            player_collision: Block,
            projectile_collision: BlockAndConsume,
            collider_shape: FootprintRectangle,
            destruction: RemoveOnMapDestruction,
            interaction: None,
            concealment: None,
        ),
        (
            id: MapGameplayProfileId(4),
            player_collision: Pass,
            projectile_collision: Pass,
            collider_shape: None,
            destruction: Indestructible,
            interaction: PlayerSpawn,
            concealment: None,
        ),
        (
            id: MapGameplayProfileId(5),
            player_collision: Block,
            projectile_collision: Pass,
            collider_shape: FootprintRectangle,
            destruction: Indestructible,
            interaction: None,
            concealment: None,
        ),
        (
            id: MapGameplayProfileId(6),
            player_collision: Block,
            projectile_collision: BlockAndConsume,
            collider_shape: FootprintRectangle,
            destruction: ReplaceOnMapDestruction(MapAssetId(14)),
            interaction: None,
            concealment: None,
        ),
        (
            id: MapGameplayProfileId(7),
            player_collision: Block,
            projectile_collision: BlockAndConsume,
            collider_shape: Circle(radius_world_units: 28),
            destruction: Indestructible,
            interaction: None,
            concealment: None,
        ),
        (
            id: MapGameplayProfileId(8),
            player_collision: Pass,
            projectile_collision: Pass,
            collider_shape: None,
            destruction: Indestructible,
            interaction: None,
            concealment: HideOccupants,
        ),
    ],
)
