(
    recipe_id: MapRecipeId(3),
    revision: 2,
    recipe_version: 4,
    mode_definition_id: ModeDefinitionId(2),
    presentation_theme_id: MapPresentationThemeId(3),
    dimensions: (width: 48, height: 32),
    default_surface_asset_id: MapAssetId(1),
    placements: [
        (placement_id: MapPlacementId(120), cell: (x: 19, y: 15), asset_id: MapAssetId(17), quarter_turns: 0, parameters: None),
        (placement_id: MapPlacementId(121), cell: (x: 27, y: 15), asset_id: MapAssetId(17), quarter_turns: 2, parameters: None),
        (placement_id: MapPlacementId(122), cell: (x: 23, y: 5), asset_id: MapAssetId(18), quarter_turns: 0, parameters: None),
        (placement_id: MapPlacementId(123), cell: (x: 23, y: 25), asset_id: MapAssetId(18), quarter_turns: 2, parameters: None),
        (placement_id: MapPlacementId(200), cell: (x: 11, y: 2), asset_id: MapAssetId(21), quarter_turns: 0, parameters: None),
        (placement_id: MapPlacementId(201), cell: (x: 36, y: 29), asset_id: MapAssetId(21), quarter_turns: 2, parameters: None),
        (placement_id: MapPlacementId(202), cell: (x: 34, y: 2), asset_id: MapAssetId(22), quarter_turns: 1, parameters: None),
        (placement_id: MapPlacementId(203), cell: (x: 13, y: 29), asset_id: MapAssetId(22), quarter_turns: 3, parameters: None),
        (placement_id: MapPlacementId(204), cell: (x: 20, y: 2), asset_id: MapAssetId(23), quarter_turns: 0, parameters: None),
        (placement_id: MapPlacementId(205), cell: (x: 27, y: 29), asset_id: MapAssetId(23), quarter_turns: 2, parameters: None),
        (placement_id: MapPlacementId(300), cell: (x: 4, y: 8), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 0, ordinal: 1, facing_quarter_turns: 0)),
        (placement_id: MapPlacementId(301), cell: (x: 4, y: 13), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 0, ordinal: 2, facing_quarter_turns: 0)),
        (placement_id: MapPlacementId(302), cell: (x: 4, y: 18), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 0, ordinal: 3, facing_quarter_turns: 0)),
        (placement_id: MapPlacementId(303), cell: (x: 4, y: 23), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 0, ordinal: 4, facing_quarter_turns: 0)),
        (placement_id: MapPlacementId(304), cell: (x: 43, y: 8), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 1, ordinal: 5, facing_quarter_turns: 2)),
        (placement_id: MapPlacementId(305), cell: (x: 43, y: 13), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 1, ordinal: 6, facing_quarter_turns: 2)),
        (placement_id: MapPlacementId(306), cell: (x: 43, y: 18), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 1, ordinal: 7, facing_quarter_turns: 2)),
        (placement_id: MapPlacementId(307), cell: (x: 43, y: 23), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 1, ordinal: 8, facing_quarter_turns: 2)),
    ],
    filled_rects: [
        (first_placement_id: MapPlacementId(1), min: (x: 12, y: 9), width: 6, height: 2, asset_id: MapAssetId(16), quarter_turns: 0),
        (first_placement_id: MapPlacementId(20), min: (x: 30, y: 21), width: 6, height: 2, asset_id: MapAssetId(16), quarter_turns: 0),
        (first_placement_id: MapPlacementId(40), min: (x: 12, y: 21), width: 6, height: 2, asset_id: MapAssetId(16), quarter_turns: 0),
        (first_placement_id: MapPlacementId(60), min: (x: 30, y: 9), width: 6, height: 2, asset_id: MapAssetId(16), quarter_turns: 0),
        (first_placement_id: MapPlacementId(80), min: (x: 9, y: 13), width: 2, height: 6, asset_id: MapAssetId(16), quarter_turns: 0),
        (first_placement_id: MapPlacementId(100), min: (x: 37, y: 13), width: 2, height: 6, asset_id: MapAssetId(16), quarter_turns: 0),
        (first_placement_id: MapPlacementId(400), min: (x: 17, y: 2), width: 3, height: 3, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(420), min: (x: 28, y: 27), width: 3, height: 3, asset_id: MapAssetId(4), quarter_turns: 0),
    ],
    mode_anchors: [],
)
