(
    recipe_id: MapRecipeId(12),
    revision: 1,
    recipe_version: 5,
    mode_definition_id: ModeDefinitionId(4),
    presentation_theme_id: MapPresentationThemeId(2),
    dimensions: (width: 25, height: 37),
    default_surface_asset_id: MapAssetId(5),
    placements: [
        (placement_id: MapPlacementId(9000), cell: (x: 10, y: 2), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 0, ordinal: 1, facing_quarter_turns: 1)),
        (placement_id: MapPlacementId(9001), cell: (x: 12, y: 2), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 0, ordinal: 2, facing_quarter_turns: 1)),
        (placement_id: MapPlacementId(9002), cell: (x: 14, y: 2), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 0, ordinal: 3, facing_quarter_turns: 1)),
        (placement_id: MapPlacementId(9003), cell: (x: 10, y: 34), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 1, ordinal: 1, facing_quarter_turns: 3)),
        (placement_id: MapPlacementId(9004), cell: (x: 12, y: 34), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 1, ordinal: 2, facing_quarter_turns: 3)),
        (placement_id: MapPlacementId(9005), cell: (x: 14, y: 34), asset_id: MapAssetId(20), quarter_turns: 0, parameters: PlayerSpawn(team_slot: 1, ordinal: 3, facing_quarter_turns: 3)),
    ],
    filled_rects: [
        (first_placement_id: MapPlacementId(1000), min: (x: 2, y: 32), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1001), min: (x: 22, y: 32), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1002), min: (x: 2, y: 31), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1005), min: (x: 20, y: 31), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1008), min: (x: 2, y: 30), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1011), min: (x: 20, y: 30), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1014), min: (x: 4, y: 29), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1015), min: (x: 20, y: 29), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1016), min: (x: 4, y: 28), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1017), min: (x: 20, y: 28), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1018), min: (x: 4, y: 27), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1019), min: (x: 8, y: 27), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1020), min: (x: 8, y: 26), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1021), min: (x: 17, y: 26), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1022), min: (x: 7, y: 25), width: 2, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1024), min: (x: 17, y: 25), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1025), min: (x: 20, y: 25), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1026), min: (x: 7, y: 24), width: 2, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1028), min: (x: 17, y: 24), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1029), min: (x: 20, y: 24), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1030), min: (x: 17, y: 23), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1031), min: (x: 20, y: 23), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1032), min: (x: 2, y: 22), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1035), min: (x: 17, y: 22), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1036), min: (x: 20, y: 22), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1037), min: (x: 20, y: 21), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1038), min: (x: 9, y: 20), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1039), min: (x: 15, y: 20), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1040), min: (x: 20, y: 20), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1041), min: (x: 7, y: 19), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1042), min: (x: 9, y: 19), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1043), min: (x: 15, y: 19), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1044), min: (x: 17, y: 19), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1045), min: (x: 20, y: 19), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1046), min: (x: 4, y: 18), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1047), min: (x: 7, y: 18), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1048), min: (x: 9, y: 18), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1049), min: (x: 15, y: 18), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1050), min: (x: 17, y: 18), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1051), min: (x: 20, y: 18), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1052), min: (x: 4, y: 17), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1053), min: (x: 9, y: 17), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1054), min: (x: 15, y: 17), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1055), min: (x: 4, y: 16), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1056), min: (x: 4, y: 15), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1057), min: (x: 4, y: 14), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1058), min: (x: 7, y: 14), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1059), min: (x: 20, y: 14), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1062), min: (x: 4, y: 13), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1063), min: (x: 7, y: 13), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1064), min: (x: 16, y: 13), width: 2, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1066), min: (x: 4, y: 12), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1067), min: (x: 7, y: 12), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1068), min: (x: 16, y: 12), width: 2, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1070), min: (x: 7, y: 11), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1071), min: (x: 16, y: 11), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1072), min: (x: 7, y: 10), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1073), min: (x: 16, y: 10), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1074), min: (x: 20, y: 10), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1075), min: (x: 4, y: 9), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1076), min: (x: 20, y: 9), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1077), min: (x: 4, y: 8), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1078), min: (x: 20, y: 8), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1079), min: (x: 2, y: 7), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1082), min: (x: 20, y: 7), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1085), min: (x: 2, y: 6), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1088), min: (x: 20, y: 6), width: 3, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1091), min: (x: 2, y: 5), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(1092), min: (x: 22, y: 5), width: 1, height: 1, asset_id: MapAssetId(7), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3000), min: (x: 16, y: 35), width: 7, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3007), min: (x: 16, y: 34), width: 7, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3014), min: (x: 4, y: 33), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3016), min: (x: 17, y: 33), width: 6, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3022), min: (x: 4, y: 32), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3024), min: (x: 20, y: 32), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3026), min: (x: 21, y: 28), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3028), min: (x: 21, y: 27), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3030), min: (x: 16, y: 26), width: 1, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3031), min: (x: 21, y: 26), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3033), min: (x: 2, y: 25), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3036), min: (x: 15, y: 25), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3038), min: (x: 2, y: 24), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3042), min: (x: 14, y: 24), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3045), min: (x: 2, y: 23), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3049), min: (x: 13, y: 23), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3053), min: (x: 5, y: 22), width: 1, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3054), min: (x: 12, y: 22), width: 5, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3059), min: (x: 21, y: 22), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3061), min: (x: 2, y: 21), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3065), min: (x: 12, y: 21), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3069), min: (x: 21, y: 21), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3071), min: (x: 2, y: 20), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3074), min: (x: 11, y: 20), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3077), min: (x: 21, y: 20), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3079), min: (x: 11, y: 19), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3082), min: (x: 11, y: 18), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3085), min: (x: 2, y: 17), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3087), min: (x: 11, y: 17), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3090), min: (x: 20, y: 17), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3093), min: (x: 2, y: 16), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3095), min: (x: 9, y: 16), width: 1, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3096), min: (x: 11, y: 16), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3098), min: (x: 15, y: 16), width: 1, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3099), min: (x: 19, y: 16), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3103), min: (x: 2, y: 15), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3105), min: (x: 8, y: 15), width: 5, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3110), min: (x: 19, y: 15), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3114), min: (x: 8, y: 14), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3118), min: (x: 19, y: 14), width: 1, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3119), min: (x: 8, y: 13), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3122), min: (x: 19, y: 13), width: 4, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3126), min: (x: 8, y: 12), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3128), min: (x: 20, y: 12), width: 3, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3131), min: (x: 2, y: 11), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3133), min: (x: 8, y: 11), width: 1, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3134), min: (x: 2, y: 10), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3136), min: (x: 2, y: 9), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3138), min: (x: 3, y: 5), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3140), min: (x: 19, y: 5), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3142), min: (x: 2, y: 4), width: 6, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3148), min: (x: 19, y: 4), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3150), min: (x: 2, y: 3), width: 7, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3157), min: (x: 19, y: 3), width: 2, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(3159), min: (x: 2, y: 2), width: 7, height: 1, asset_id: MapAssetId(8), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5000), min: (x: 4, y: 35), width: 3, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5003), min: (x: 8, y: 20), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5004), min: (x: 10, y: 20), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5005), min: (x: 14, y: 20), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5006), min: (x: 8, y: 19), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5007), min: (x: 10, y: 19), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5008), min: (x: 14, y: 19), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5009), min: (x: 16, y: 19), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5010), min: (x: 8, y: 18), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5011), min: (x: 10, y: 18), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5012), min: (x: 14, y: 18), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5013), min: (x: 16, y: 18), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5014), min: (x: 10, y: 17), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5015), min: (x: 14, y: 17), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5016), min: (x: 16, y: 17), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5017), min: (x: 10, y: 16), width: 1, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(5018), min: (x: 18, y: 2), width: 3, height: 1, asset_id: MapAssetId(1), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7000), min: (x: 4, y: 35), width: 3, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7003), min: (x: 8, y: 20), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7004), min: (x: 10, y: 20), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7005), min: (x: 14, y: 20), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7006), min: (x: 8, y: 19), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7007), min: (x: 10, y: 19), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7008), min: (x: 14, y: 19), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7009), min: (x: 16, y: 19), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7010), min: (x: 8, y: 18), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7011), min: (x: 10, y: 18), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7012), min: (x: 14, y: 18), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7013), min: (x: 16, y: 18), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7014), min: (x: 10, y: 17), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7015), min: (x: 14, y: 17), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7016), min: (x: 16, y: 17), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7017), min: (x: 10, y: 16), width: 1, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
        (first_placement_id: MapPlacementId(7018), min: (x: 18, y: 2), width: 3, height: 1, asset_id: MapAssetId(4), quarter_turns: 0),
    ],
    mode_anchors: [
        (placement_id: MapPlacementId(9500), anchor_id: ModeAnchorId(1), kind: HeistSafe(team_slot: 0, origin_cell: (x: 11, y: 5), width_cells: 3, height_cells: 2, quarter_turns: 1, objective_visual_profile_id: MapVisualProfileId(39))),
        (placement_id: MapPlacementId(9501), anchor_id: ModeAnchorId(2), kind: HeistSafe(team_slot: 1, origin_cell: (x: 11, y: 30), width_cells: 3, height_cells: 2, quarter_turns: 3, objective_visual_profile_id: MapVisualProfileId(39))),
    ],
)
